<div class="flex flex-col items-center md:flex-row md:items-start gap-4 pt-[40px]">
  <div
    class="flex w-full max-w-[320px] h-[320px]"
    style="background: url(../../assets/cat-love.jpg); background-size: cover; background-position: center"
  ></div>
  <div class="flex-1">
    <h2 class="text-[32px] text-center md:text-left">Вам понравилось:</h2>

    @if (favoriteProductIds.length) {
    <section class="grid w-full 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1">
      @for (favoriteProductId of favoriteProductIds; track favoriteProductId) { @if (getProductById(favoriteProductId))
      {
      <market-catalogue-card [product]="getProductById(favoriteProductId)!" />
      } }
    </section>
    } @else {
    <div class="flex flex-col items-center justify-center h-[300px]">
      <div class="text-slate-700 text-[24px]">К сожалению тут ничего нет 🥺</div>
      <a routerLink="/" class="text-[20px] border-b-[1px] border-dotted border-slate-950 leading-5 mt-6">
        Перейти в каталог
      </a>
    </div>
    }
  </div>
</div>
