<div class="flex flex-col md:flex-row h-full gap-4">
  <aside class="w-full h-full text-xl md:max-w-[400px] sm:max-w-full">
    <input
      [ngModel]="search"
      class="h-12 w-full bg-slate-950 text-white outline-none px-4 placeholder:text-[rgba(255,255,255,0.9)]"
      placeholder="Поиск..."
      (ngModelChange)="handleSearchInput($event)"
    />
    <ul class="flex flex-col gap-1 mt-4">
      @for (category of categories; track category.id) {
      <li>
        <a routerLink="/" [queryParams]="getRouteQueryByCategory(category.id)" [class]="getLinkClass(category.id)">
          {{category.name}}
        </a>
      </li>
      }
    </ul>
  </aside>

  <section class="grid w-full 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1">
    @for (product of products; track product.id) {
    <market-catalogue-card [product]="product" />
    }
  </section>
</div>
