<main class="p-8">
  <nav
    data-id="header"
    class="fixed top-4 w-[calc(100%-4rem)] z-[2] bg-slate-950 transition duration-300 flex items-center justify-between px-8 text-white h-16"
  >
    <a routerLink="/" class="text-[24px]">КотоМаркет</a>
    <ul class="flex items-center gap-2 text-lg">
      <li title="Избранное">
        <a [class]="favoritesIconClass" routerLink="/favorites">
          <sprite-icon [name]="favoritesIcon" size="28" />
        </a>
      </li>
      <li title="Корзина">
        <a [routerLink]="cartLink" class="block cursor-pointer p-2 hover:bg-white hover:text-slate-950">
          <sprite-icon name="cart" size="28" />
        </a>
      </li>
      <li title="Профиль">
        <a [routerLink]="profileLink" [class]="profileIconClass">
          <sprite-icon [name]="profileIcon" size="28" />
        </a>
      </li>
    </ul>
  </nav>

  <div class="mt-16">
    <router-outlet />
  </div>

  <svg-sprite />
</main>
